// Text colours
$mainText: #555555;
$white: #fff;

// Turns colours
$yourTurn: #FF8080;
$wait: $yourTurn;

// Buttons
$grey: #B9B9B9;
$blueLight: #A4D7E1;
$blueDark: #6CB8C8;

// Gameboard frame
$frame: 2px solid $mainText;