@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexCenterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
}

$default-size: 40px;

@mixin setSize($width: $default-size, $height: $default-size) {
    width: $width;
    height: $height;
}

@mixin setMargin($value: 10px 0) {
    margin: $value;
}